body {
    overflow-x: hidden;
    background-image: url('/static/img/background.png');
}

#logo {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-413px;
    margin-left:-584px;
    opacity: 1;
}