@font-face {
    font-family: 'RobotoRegular';
    src: url('/static/fonts/Roboto-Regular-webfont.eot');
    src: url('/static/fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/Roboto-Regular-webfont.woff') format('woff'),
         url('/static/fonts/Roboto-Regular-webfont.ttf') format('truetype'),
         url('/static/fonts/Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    overflow-x: hidden;
    background-image: url('/static/img/background.png');
}

#screen {
    position:absolute;
    top:50%;
    left:50%;
    margin-top:-413px;
    margin-left:-584px;
    opacity: 1;
    background: url('/static/img/screen.png');
    width: 1168px;
    height: 826px;
}

#screen.blank {
    background: url('/static/img/blank_screen.png') !important;
}

#screen .text_container {
    margin-top: 150px;
    margin-left: 210px;
    max-height: 510px;
    max-width: 772px;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: RobotoRegular;
    font-weight: bold;
    font-size: 44px;
    color: #9d9d9d;
}

#screen .text_container .file {
    width: 777px;
    height: 50px;
    margin-top: 12px;
    border-bottom: 2px #333 solid;
}
#screen a, #screen a:visited, #screen a:active {
    text-decoration: none;
    color: #9d9d9d;
}
#screen a:hover {
    color: #fff;
}
#screen .file img {
    margin-right: 30px;
}

#screen .error_msg,
#screen .error_code {
    text-align: center;
}
#screen .error_msg {
    font-size: 52px !important;
}
#screen .error_code {
    margin: 80px 0;
    color: #A5A7D1 !important;
    font-size: 200px !important;
}

#fileupload {
    display: none;
}

#progress {
    display: none;
}

#progress.active {
    font-size:72pt;
    font-family: RobotoRegular;
    display:block;
    position:absolute;
    line-height:50px;
    top:50%;
    left:50%;
    margin:-70px 0 0 -315px;
    text-shadow:3px 3px 4px #000;
    color:#fff;
    z-index:999;
}

.fade {
    opacity: 1;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}